<div id="treehouse_profile">

  <div class="homepage">
    <div class="form_wrap">
      <h1>Treehouse Profile</h1>
      <p>Search for a username to find out more</p>
      <form action="/profile" method="GET">
        <input type="text" name="username" value="joseplatas" placeholder="username">
        <button type="submit">SEARCH</button>
      </form>
    </div>
  </div>

</div>
<!-- endof::teamtreehouse_profile -->
