<div id="treehouse_profile">
    <!-- endof::treehouse_loading -->
    <div class="profile_header">
        <h1>Treehouse Profile</h1>
        <img src="{{profile.gravatar_url}}" alt="" />
        <h2>{{profile.name}}</h2>
    </div>
    <!-- endof::profile_header -->
    <div class="badges">
        <div class="section_name">My Badges</div>
        <div class="badges_list">

        </div>
    </div>
    <!-- endof::badges -->
    <div class="points_earned">
        <h1 class="title">Points Earned</h1>
        <div class="page_wrapper">
            <div class="total_points">
                <span id="total_points">14,497</span> Total Points
            </div>
            <div class="points_wrap clearfix">
                <div class="points">
                    <h2>Topics</h2>
                    <ul>
                        <li class="javascript">
                            <span>3198</span> JAVASCRIPT
                        </li>
                    </ul>

                </div>
                <div class="points_chart">
                  <h2>Points Chart</h2>
                  <div class="chart_container">
                      <div class="bar">
                        javascript
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- endof::points_earned -->
    <div class="achievements">

    </div>

</div>
<!-- endof::teamtreehouse_profile -->
